/* Banner - 1 */
.banner-1{
    background-image: url(assets/Hero-bg.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    text-align: center;
    padding-top: 50px;
}
.banner-title{
    font-family: "Azeret Mono", monospace;
    font-size: 48px;
    line-height: 68px;
    font-weight: 800px;
}
.banner-sub-title{
    font-size: 16px;
    font-family: Azeret Mono;
    color: #0D1321;
    opacity: 70%;
    line-height: 30px;
}
.btn{
    color: white;
    border: none;
    font-family: "Azeret Mono", monospace;
    font-weight: 600;
    font-size: 20px;
    background-color: #0D1321;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    margin-top: 30px;
}

/* Banner 2 */

.about{
    background-color: #FAFAFB;
    border-radius: 16px;
    height: 1500px;
    margin: 50px 148px ;
}
.about-details{
    color: #000000;
    text-align: center;
}
.about-title{
    font-family: "Azeret Mono", monospace;
    font-size: 32px;
    font-weight: 800px;
    padding-top: 100px;
}
.about-des{
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    opacity: 70%;
    line-height: 30px;
}
.topic-1{
    display: flex;
    background: linear-gradient( to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    color: white;
    width: 1170px;
    height: 336px;
    margin-left: 148px;
    margin-top: 50px;
    border-radius: 16px;
    justify-content: space-between;
}
.topic{
    padding: 48px 48px 48px 48px;
    color: #0D1321;
    font-family: "Azeret Mono", monospace;
    
}
.topic-title{
    font-size: 24px;
    font-weight: 400px;
    opacity: 70%;
}
.topic-des{
    font-size: 16px;
    opacity: 70%;
    line-height: 30px;
}
.btn-2{
    width: 150px;
    height: 48px;
    border-color: #0D1321;
    background-color: transparent;
    font-size: 20px;
    font-family: "Azeret Mono", monospace;
    font-weight: 500;
    opacity: 70%;
}
.img1{
    width: 274.17px;
    height: 240px;
    margin-top: 55px;
    margin-right: 40px;
}
.topic-2{
    display: flex;
    background: linear-gradient( to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
    color: white;
    width: 1170px;
    height: 336px;
    margin-left: 148px;
    margin-top: 50px;
    border-radius: 16px;
    justify-content: space-between;
}
.img2{
    width: 240px;
    height: 240px;
    margin-top: 55px;
    padding-left: 40px;
}
.img3{
    width: 240px;
    height: 240px;
    margin-top: 55px;
    padding-right: 60px;
}

/* banner 3 */
.video-title{
    text-align: center;
    font-size: 32px;
    font-weight: 400px;
    font-family: "Azeret Mono", monospace;
    padding-top: 50px;
}
.video-des{
    font-size: 16px;
    text-align: center;
    font-family: "Azeret Mono", monospace;
    opacity: 70%;
}
.ytvideo{
    text-align: center;
    border-radius: 16px;
    border-image-outset: 10px;
    width: 1140px;
    height: 580px;
    padding-top: 30px;
    margin-top: 70px;
    margin-left: 320px;
}